<div class="container-fluid text-center"> 
  <h1>TestPage</h1>
  <p>This is a test page of my page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Vel sunt quo consequatur distinctio eius perspiciatis et praesentium eaque veritatis aperiam! 
  Labore, nostrum ab iusto tempore ad velit aspernatur blanditiis dolores.</p>
</div>